
<html>
    <head>
      <title></title>
      <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    </head>
    <body>
    <style>
body {
    font-family: 'Inter';font-size: 22px;
}
</style>
      <div>
           <!--<div style="background-image: url('http://cdn.mcauto-images-production.sendgrid.net/2ca4ae4462adc015/9e1a2357-ed11-49bc-97e3-7a6b94a5b294/1750x212.png'); height: 3rem; background-size: cover; bottom: -300px; width:100%"></div>-->
            <div style="padding: 0.5rem; margin-top: 1.25rem;" class="text-start p-5">
               <!-- <div style="display: flex; align-items: flex-end; justify-content: flex-end;">
                    <img  style="width: 9rem; padding-bottom: 1.25rem;" src="http://cdn.mcauto-images-production.sendgrid.net/2ca4ae4462adc015/6e228199-586f-466d-b3a3-76534b938256/1787x783.png" alt="">
                </div> -->
                               <div style="width: 100%; margin-top: 0.5rem/* 8px */; display: flex; justify-content: space-between; align-items: center; text-transform: uppercase; color: #00ADEF;">
                    <h3 style="font-size: 1.25rem/* 30px */; line-height: 2.25rem/* 36px */; font-weight: 800;">new press release</h3>
                    <!-- <p style="font-size:1.25rem;">by wezawire</p> -->
                </div>
                <hr style="border-width: 1px; border-color: #00ADEF;">
                <div style=" margin-top: 0.25rem/* 20px */;">


                        <h3 style="margin-top: 0.5rem/* 8px */; font-weight: 700;">Dear {{recipient}}</h3>
                           <p class="text-start mt-2">
                            We are pleased to share the latest press release from Wezawire. <br> Kindly find the attached file for your reference.

                            Thank you for your attention.
                           <br><br>
                            Sincerely
                           </p>
                           <h3 style="margin-top: 0.5rem/* 8px */; font-weight: 700;">
                           <!-- {{sender_name}} -->
                           The Wezawire Team
                           </h3>
                            <!-- <h3 style="margin-top: 0.5rem/* 8px */; font-weight: 700;">
                                {{sender_role}}
                            </h3> -->
                </div>
            </div>
            <div>
                <h3>
                    <a target="_blank" href="https://wezawire.net/login">Log in</a>
                </h3>
            </div>
            </div>
        </div>
    </div>
    </body>
  </html>
